[build]
builder = "NIXPACKS"

[deploy]
startCommand = "node dist/server.js --http --port 3000"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
